{% extends 'common/base1.html' %}
{#{%from flask import make_response %}#}
{% from 'common/macro.html' import pagination_show %}
{% block title %}就诊处理{% endblock %}
{% block content %}
    {{ super() }}

    <div class="bs-example" data-example-id="bordered-table" style="float: left;margin-left: 80px; margin-top: 20px">
        <div>{{ wtf.quick_form(form) }}</div>
        <table class="table table-bordered" style="margin-top: 30px">
            <thead>
            <tr>
                <th style="width: 80px">序号</th>
                <th style="width:100px">姓名</th>
                <th style="width: 160px">手机</th>
                <th style="width: 200px">描述</th>
                <th>提交时间</th>
                <th style="width: 80px">年龄</th>

                <th style="width: 80px">就诊</th>
                <th style="width: 80px">删除</th>
            </tr>
            </thead>
            <tbody>
            {% for u in posts %}
                <tr>
                    <th scope="row" style="width: 80px">{{ u.id }}</th>
                    <td style="width:100px">{{ u.name }}</td>
                    <td style="width: 160px">{{ u.tel }}</td>
                    <td style="width: 200px">{{ u.desc }}</td>
                    <td>{{ u.submit_time }}</td>
                    <td style="width: 80px">{{ u.age }}</td>
                    <td><a style="width: 80px" href="{{ url_for(endpoint1, id=u.id) }}">就诊</a></td>
                    <td><a style="width: 80px" href="{{ url_for(endpoint2, id=u.id) }}" onClick=" return confirm('确认要删除该挂号?')">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-left: 200px; margin-top: 620px; position: absolute">
        {{ pagination_show(queue, 'doctor.checkqueue') }}</div>

    {#{{ wtf.quick_form(form) }}#}
{% endblock %}