{% extends 'common/baseadmin.html' %}

{% block title %}帮助文档{% endblock %}
{% block content %}
    <div style="margin-left: 100px">
        <h2>我是用户</h2>
        <h3>
            <h4>
                如何注册？
            </h4>
            <pre>
   首先，用户在来到用户主界面时，需要先进行注册操作
（1）点击注册；
（2）填写个人信息；
（3）点击提交；
            </pre>
            <h4>
                如何激活？
            </h4>
            <pre>
（1）登录自己在注册时所填写的邮箱；
（2）打开本系统发送的邮件；
（3）点击连接，完成激活；
            </pre>
            <h4>如何挂号？</h4>
            <pre>
（1）点击我要挂号；
（2）填写挂号信息；
（3）提交挂号；
            </pre>
            <h4>如何给医生留言？</h4>
            <pre>
（1）点击医生留言；
（2）选择要留言的医生；
（2）填写留言信息；
（3）提交；
            </pre>
        </h3>
    </div>



    <div style="margin-left: 100px">
        <h2>我是医生</h2>
        <h3>
        <h4>
            如何登录？
        </h4>
            <pre>
（1）在本诊所就职后，管理员会给医生分配账号密码；
（2）输入账号密码；
（3）完成登录；
            </pre>
        <h4>
            如何坐诊？
        </h4>
            <pre>
（1）在登陆系统之后，点击挂号处理；
（2）根据用户提交的挂号描述，以及本人的叙述，完成诊断；
（3）规划治疗方案；
（4）诊疗结束；
            </pre>
        <h4>
            如何修改密码？
        </h4>
            <pre>
（1）点击修改密码；
（2）正确输入旧密码；
（3）输入新密码；
（4）完成修改；
            </pre>
        </h3>
    </div>



    <div style="margin-left: 100px">
        <h2>我是管理员</h2>
        <h3>
        <h4>
            添加医生
        </h4>
            <pre>
（1）登录管理员；
（2）点击添加医生；
（3）输入医生信息；
（4）完成添加医生；
            </pre>
        <h4>
添加医生休息
        </h4>
            <pre>
（1）登录管理员；
（2）点击添加医生休息；
（3）成功添加医生休息；
            </pre>
        <h4>
添加库存
        </h4>
            <pre>
（1）登录管理员；
（2）点击添加库存；
（3）输入库存信息；
（4）完成添加；

            </pre>
        </h3>
    </div>



{% endblock %}