{% extends 'common/baseadmin.html' %}

{% block title %}历史记录{% endblock %}
{% block content %}
    {{ super() }}
    <div class="bs-example" data-example-id="bordered-table" style="float: left;margin-left: 50px; margin-top: 40px">
        {#        <div>{{ wtf.quick_form(form) }}</div>#}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>手机</th>
                <th>描述</th>
                <th>提交时间</th>
                <th>年龄</th>
                <th>医生诊断</th>
                <th>治疗</th>

            </tr>
            </thead>
            <tbody>
{% for u in queue %}
            <tr>

                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.tel }}</td>
                    <td>{{ u.desc }}</td>
                    <td>{{ u.submit_time }}</td>
                    <td>{{ u.age }}</td>
                    <td>{{ u.doc_desc }}</td>
                    <td>{{ u.treat }}</td>

            </tr>
{% endfor %}
            </tbody>
        </table>
{#        <div>{{ wtf.quick_form(form) }}</div>#}
    </div>
    {##}
    {#{{ wtf.quick_form(form) }}#}
{% endblock %}