{% extends 'common/baseadmin.html' %}
{% block title %}历史记录{% endblock %}
{% block content %}
    {{ super() }}
    <div class="bs-example" data-example-id="bordered-table" style="float: left;margin-left: 80px; margin-top: 40px; margin-right: 80px">
{#                    <div>{{ wtf.quick_form(form) }}</div>#}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th >序号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>手机</th>
                <th style="width: 100px;text-align: center">描述</th>
                <th style="width: 160px;text-align: center">挂号时间</th>
                <th>医生</th>
                <th style="width: 150px;text-align: center">医生诊断</th>
                <th style="width: 150px;text-align: center">治疗</th>
                <th  style="width: 160px;text-align: center">提交时间</th>
            </tr>
            </thead>
            <tbody>
            {% for u in queue %}
                <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>{{ u.name }}</td>
                    <td>{{ u.age }}</td>
                    <td>{{ u.tel }}</td>
                    <td>{{ u.desc }}</td>
                    <td>{{ u.for_time1 }}</td>
                    <td>{{ u.doctor_name }}</td>
                    <td>{{ u.doc_desc }}</td>
                    <td>{{ u.treat }}</td>
                    <td>{{ u.submit_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}