{% extends 'common/baseadmin.html' %}
{% block title %}添加医生休息{% endblock %}
{% block content %}

    <div>
         <div class="panel-group" id="accordion" style="float: left">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            个人信息
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="panel-body"><a href="{{ url_for('admin.profile') }}">我的信息</a></div>
                        <div class="panel-body"><a href="{{ url_for('admin.change_mm') }}">修改密码</a></div>
                        <div class="panel-body"><a href="{{ url_for('admin.doctorinfo') }}">医生信息</a></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            我的诊所
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
{#                        <div class="panel-body"><a href="{{ url_for('admin.doctorinfo') }}">医生信息</a></div>#}
                        <div class="panel-body"><a href="{{ url_for('admin.register') }}">添加医生</a></div><div class="panel-body"><a href="{{ url_for('admin.docrest') }}">医生休息</a></div>
                        <div class="panel-body"><a href="{{ url_for('admin.checkqueue') }}">用户挂号</a></div>
                        <div class="panel-body"><a href="{{ url_for('admin.doctreat') }}">病例查询</a></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                            诊所库存
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-body"><a href="{{ url_for('admin.store') }}">库存信息</a></div>
                        <div class="panel-body"><a href="{{ url_for('admin.addstores') }}">添加库存</a></div>
                        <div class="panel-body"><a href="{{ url_for('admin.help') }}">我要帮助</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example" data-example-id="bordered-table" style="float: left;margin-left: 50px; margin-top: 40px; width: 1000px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>电话</th>
                    <th>地址</th>
                    <th>研究方向</th>
                    <th>简介</th>
                    <th>休息</th>
                    <th>删除休息</th>

                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        <th scope="row">{{ u.id }}</th>
                        <td>{{ u.name }}</td>
                        <td>{{ u.age }}</td>
                        <td>{{ u.tel }}</td>
                        <td>{{ u.addr }}</td>
                        <td>{{ u.dirc }}</td>
                        <td>{{ u.intr }}</td>
                        <td><a href="{{ url_for(endpoint1, id=u.id) }}"  onClick=" return confirm('确认要添加休息?')">休息</a></td>
                        <td><a href="{{ url_for(endpoint2, id=u.id) }}"  onClick=" return confirm('确认要删除休息?')">删除休息</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
{% endblock %}